.App {
  text-align: center;
  max-width: 400px;
  margin: 50px auto;
  font-family: Arial, Helvetica, sans-serif;
}
filter-div {
  margin-bottom: 20px;
  display: flex;
}

form {
  margin-bottom: 20px;
  margin-top: 30px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px; /* space between input, select, and button */
  margin-top: 30px;
  flex-wrap: wrap;
}

input,
select {
  padding: 8px;
  width: 70%;
  font-size: 16px;
  border: 1px solid #333;
  border-radius: 3px;
  /* margin-bottom: 20px; */
  padding: 8px;
  font-size: 16px;
  border: 1px solid #333;
  border-radius: 5px;
  outline: none;
}

input {
  /* flex: 1;  */
  min-width: 180px;
  margin-bottom: 20px;
}

button {
  padding: 8px 12px;
  margin-left: 5px;
  cursor: pointer;
  background-color: red;
  border-color: #f7f7f7;
  color: #fff;
  border-radius: 4px;
  padding: 8px 14px;
  cursor: pointer;
  background-color: red;
  border: none;
  color: #fff;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: darkred;
  transform: scale(1.05);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f7f7f7;
  margin: 6px 0;
  padding: 10px;
  border-radius: 8px;
  width: 300px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
